p {
  text-align: center;
}
img {
  width: 17vw;
  margin-top: 5vh;
}
h1 {
  font-weight: 700;
  font-size: 6vw;
}
a {
  color: #642D8D;
}

html, body {
  background-color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  color: #642D8D;
}
